# Backend (Server)
FIREBASE_SERVICE_ACCOUNT=
JWT_SECRET=
NODE_ENV=production
FRONTEND_URL=https://your-frontend-url.vercel.app

# Frontend (Vite)
VITE_API_URL=https://your-backend-url.com/api
VITE_CLOUDINARY_CLOUD_NAME=
VITE_CLOUDINARY_UPLOAD_PRESET=
