# Backend (Server)
FIREBASE_SERVICE_ACCOUNT=
JWT_SECRET=
NODE_ENV=production

# Frontend (Vite)
VITE_API_URL=https://your-backend-url.com/api

# Cloudinary Config (Backend)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
